<div class="header">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Tournament App</span>
    <span class="example-spacer"></span>

    <div class="header-connexion">
      <button class="btn" mat-icon-button aria-label="Connexion utilisateur">
        <mat-icon>login</mat-icon>
      </button>
      <span class="btn-label btn-label--small">&nbsp;Connexion</span>
      <button mat-icon-button naria-label="Enregistrement utilisateur">
        <mat-icon>person</mat-icon>
      </button>
      <span class="btn-label btn-label--small">&nbsp;S'enregistrer</span>
    </div>
  </mat-toolbar>
</div>
