mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.header-main-menu {
  display: flex;
  align-items: center;
}

.header-connexion {
  display: flex;
  align-items: center;
  & .welcome-text {
    font-style: italic;
    margin-right: 20px;
  }
}

.header-nav-bar {
  display: flex;
  gap: 12px;
  margin-left: 12px;
}
