button {
  margin-left: 10px;
}

form {
  margin: 0;
  margin-bottom: 5px !important;
}

.tournament-container {
  margin: 30px;
  display: flex;
  justify-content: space-around;

  & .tournament-card {
    width: 40%;
  }
}

.tournament-registration {
  margin: 30px;
  display: flex;
}

.tournament-header {
  display: flex;
  justify-content: flex-start;

  mat-icon {
    margin-right: 20px;
    font-size: x-large;
  }
}

th.mat-sort-header-sorted {
  color: black;
}
