<div class="tournament-header">
  <mat-icon
    [inline]="true"
    [color]="tournament?.closed === true ? 'warn' : 'primary'"
    aria-hidden="false"
    aria-label="Example home icon"
    [fontIcon]="tournament?.closed === true ? 'block' : 'check_circle'"
  ></mat-icon>
  <h1>{{ tournament?.name }}</h1>
  <button *appHasRole="['Admin']" mat-raised-button color="warn" (click)="closeTournament()">
    {{ tournament?.closed === true ? "Ouvrir le tournoi" : "Clore le tournoi" }}
  </button>
</div>

<div class="tournament-registration">
  <button
    mat-raised-button
    [color]="registeredInTournament ? 'basic' : 'primary'"
    [disabled]="registeredInTournament"
    (click)="registerInTournament()"
  >
    {{
      registeredInTournament === true
        ? "Déjà inscrit dans le tournoi"
        : "M'inscrire"
    }}
  </button>
</div>

<div class="tournament-container">
  <div class="tournament-card">
    <mat-card>
      <mat-card-content>
        <div class="">
          <h2>Infos</h2>
          <p>Description détaillées du tournoi</p>
        </div>
        <span>{{ tournament?.players?.length }} joueurs</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tournament-card">
    <mat-card>
      <mat-card-content>
        <div class="">
          <h2>Joueurs</h2>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8"
          >
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="playerId">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by number"
              >
                Identifiant
              </th>
              <td mat-cell *matCellDef="let element">{{ element.playerId }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Pseudo</th>
              <td mat-cell *matCellDef="let element">{{ element.pseudo }}</td>
            </ng-container>

            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
              <td mat-cell *matCellDef="let element">{{ element.score }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Ajouter des points</th>
              <td mat-cell *matCellDef="let element; index">
                <form class="add-points-form">
                  <mat-form-field class="points-input" [style.width.px]="80">
                    <mat-label>points</mat-label>
                    <input type="number" #input matInput placeholder="..." />
                  </mat-form-field>
                  <button
                    mat-mini-fab
                    color="warn"
                    aria-label="add"
                    (click)="addPoints(element.playerId, input.value)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </form>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
