button {
  margin-left: 10px;
}

form {
  margin: 0;
  margin-bottom: 5px !important;
}

.mat-grid-tile .mat-grid-tile-content {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.tournament-header {
  display: flex;
  justify-content: start;

  mat-icon {
    margin-right: 20px;
    font-size: x-large;
  }
}

th.mat-sort-header-sorted {
  color: black;
}
