.player-container {
  margin: 20px;
  display: flex;
  justify-content: space-around;

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }

  .highlight{
    background: #c2185b;
  }
}
